* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container 
{
    height:100vh;
    width: 100vw;
}
.notes_list {
    display: flex;
    align-items: center;
    position: relative;
    top: 37px;
    flex-wrap: wrap;

    // word-wrap: break-word;
    
}